global
    daemon
    maxconn 256

defaults
	mode	http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend https-in
    bind *:80
    bind *:443 ssl crt /etc/ssl/certs/siri-xlite.pem alpn h2,http/1,
    # BEGIN CORS
    http-response set-header Access-Control-Allow-Origin "*"
    http-response set-header Access-Control-Allow-Methods "GET"
    # END CORS
    option forwardfor
	http-request add-header X-Forwarded-Proto https
    default_backend varnish

backend varnish
    server varnish varnish:80 maxconn 32
